{{>header}}
<ul>
<li>{{name}}</li>
<li>{{rating}}</li>
<li>{{info}}</li>
</ul>


<!-- <h3>Spot info:</h3>
<br>
rating: {{rating}}
<br>
terrain: {{terrain}}
<br>
busy-ness: {{busy}}
<br>
image: <img src="{{image}}"> -->
